body, button, input, select, textarea {
  font-family: var(--font-family-text);
}
*, :after, :before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.gFZnrH {
  position: absolute;
  width: 90vw;
  height: 100vh;
  z-index: -999;
  margin: 0px;
  overflow: hidden;
}
@media screen and (min-width: 992px){
  .jtovnl {
      padding-left: 64px;
      padding-right: 64px;
  }
}
@media screen and (min-width: 768px){
  .jtovnl {
      padding-left: 32px;
      padding-right: 32px;
  }
}

@media screen and (min-width: 1200px){
  .djpdOe {
      top: -1150px;
      right: unset;
      left: -800px;
  }
}
.djpdOe {
    position: absolute;
    top: -1180px;
    right: -156px;
    z-index: -1;
    margin: 0px;
}
.hokpsO {
  background-color: transparent;
  position: relative;
  height: 1870px;
  width: 1870px;
  mix-blend-mode: screen;
  margin: 0px;
}
.jEobDc {
  transform: rotateX(236deg) rotateZ(-135deg);
  width: 1100px;
  height: 1100px;
  position: absolute;
  transform-style: preserve-3d;
  top: 44.5%;
  left: 20%;
  margin: 0px;
}
.kjcFsY {
  transform: translateZ(-1100px);
  margin: 0px;
}
.cDTLBZ {
  margin: 0px;
}
.qhkHr {
  transform: rotateY(-90deg);
  transform-origin: right center;
  margin: 0px;
}
.eRtMiV {
  transform: rotateX(-90deg);
  transform-origin: center top;
  margin: 0px;
}
.evEuDV {
  transform: rotateY(90deg);
  transform-origin: left center;
  margin: 0px;
}
.cwSPsU {
  transform: rotateX(90deg);
  transform-origin: center bottom;
  margin: 0px;
}
.ijpKkt {
  position: relative;
  margin: 0px;
  background: white;
}
@media screen and (min-width: 992px){
  .buIoIw {
      padding-left: 64px;
      padding-right: 64px;
  }
}
@media screen and (min-width: 768px){
  .buIoIw {
      padding-left: 32px;
      padding-right: 32px;
  }
}
.buIoIw {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 24px;
  max-width: 1440px;
  min-height: 88px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0px auto;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
button, a, summary {
  outline-offset: 2px;
}
.buIoIw > a {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
}
.fWHPDr {
  max-width: 100%;
  max-height: 100%;
  height: 40px;
  margin: 0px;
}
main {
  display: block;
}
.cDTLBZ {
  margin: 0px;
}
.iLpgKu {
  max-width: 1440px;
  margin: 0px auto 32px;
  padding: 48px 0px 24px;
}
@media screen and (min-width: 992px){
  .iLpgKu {
      padding-left: 64px;
      padding-right: 64px;
      margin-bottom: 48px;
  }
}
@media screen and (min-width: 768px){
.iLpgKu {
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 32px;
}
}
@media screen and (min-width: 480px){
.iLpgKu {
    margin-bottom: 32px;
}
}
.cuyEPd {
  position: relative;
  max-width: 640px;
  margin: 0px;
}
h1 {
  color: var(--color-biscay);
  font-size: var(--font-size-80);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-80);
  margin-bottom: var(--space-30);
}
.ifPAOe {
  font-weight: 500;
  letter-spacing: -0.02em;
  color: rgb(26, 43, 107);
  font-size: 32px;
  line-height: 48px;
  margin: 8px 0px 32px;
}
@media screen and (min-width: 1200px){
.ifPAOe {
    font-size: 40px;
    line-height: 56px;
}
}
p {
  color: var(--color-gray-60);
  font-size: var(--font-size-30);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-30);
  margin-bottom: var(--space-30);
}
.kAqfcL {
  font-size: 18px;
  line-height: 28px;
  color: rgb(61, 69, 86);
  margin: 24px 0px 0px;
}
@media screen and (min-width: 992px){
.kAqfcL {
    margin-top: 16px;
}
}
.gSdDRh {
  font-size: 16px;
  line-height: 24px;
  color: rgb(55, 91, 210);
  margin: 0px;
  text-decoration: none;
}
form {
  display: block;
  margin-top: 0em;
}
.eQYQQS {
  background-color: rgb(255, 255, 255);
  box-shadow: none;
  margin: 32px 0px;
  padding: 24px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(231, 232, 234);
  border-radius: 4px;
}
.jOOaAz {
  display: flex;
}
@media screen and (min-width: 768px){
.eWEZqD {
    flex-direction: row;
}
}
.eWEZqD {
  flex-direction: column;
  margin: 0px;
}
.eUbQmU {
  max-width: unset;
  width: 100%;
  flex-direction: column;
  margin: 0px 24px 0px 0px;
}
@media screen and (min-width: 768px){
.eUbQmU {
    max-width: 292px;
}
}
label {
  cursor: default;
} 
.jRkHwg {
  width: 100%;
  color: rgb(26, 43, 107);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px 0px 8px;
}
.MbZuZ {
  position: relative;
  --badge-color: #555c6c;
  --badge-background-color: #e7e8ea;
}
details {
  display: block;
}
.cWeqlU {
  width: 100%;
  margin: 0px;
}
@media screen and (min-width: 768px){
.cWeqlU {
    width: auto;
}
}
summary {
  display: block;
}
summary {
  list-style: none;
}
.jHUdqn {
  display: block;
  counter-increment: none;
  cursor: pointer;
  margin: 0px;
  list-style: none;
}
.gchgXT {
  font-size: 14px;
  width: 100%;
  color: rgb(12, 22, 44);
  background-color: rgb(255, 255, 255);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  line-height: 22px;
  box-shadow: rgba(12, 22, 44, 0.32) 0px 8px 24px -16px;
  display: inline-flex;
  -webkit-appearance: none;
  padding-right: 32px;
  background-image: url(https://smartcontract.imgix.net/icons/Caret.svg?auto=compress%2Cformat);
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  border-width: 1px;
  border-style: solid;
  outline: 0px;
  border-radius: 4px;
  border-color: rgb(206, 208, 213);
  background-position: right 8px top 50%;
  background-repeat: no-repeat;
}
.eWRzoq {
  max-height: 100%;
  width: 16px;
  height: 16px;
  max-width: none;
  margin: 0px 8px 0px 0px;
}
@media screen and (min-width: 768px){
.ievvNr {
    width: fit-content;
}
}
.OicZg {
  position: absolute;
  z-index: 1;
  right: 0px;
  border-radius: 4px;
}
.ievvNr {
  min-width: 240px;
  width: 100%;
  margin: 8px 0px 0px;
}














.jEobDc > div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(245, 247, 253);
  border-radius: 17px;
}
.jtovnl {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    margin: 0px auto;
}
*, :after, :before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}